body {
  padding-top: 50px;
}

.btn-modal-large {
  padding: 40px 10px;
  font-size: 48px;
  line-height: 1.3333333;
}

.input-group {
    width: 100%;
}

.btn-huge{
    padding-top:20px;
    padding-bottom:20px;
    font-size: 26px;
}

.btn-student{
    padding-top:6px;
    padding-bottom:8px;
    padding-left:30px;
    font-size: 24px;
    text-align: left;
    line-height: 1;
}

.student-lastName {
	font-size: 18px;
}