body {
  padding-top: 50px;
}

.btn-modal-large {
  padding: 40px 10px;
  font-size: 48px;
  line-height: 1.3333333;
}

.input-group {
    width: 100%;
}

.btn-huge{
    padding-top:20px;
    padding-bottom:20px;
    font-size: 26px;
}